# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/AstroLib.opensdf

#Build results
Debug/
Release/
x64/
x86/
*.tlog/

#Visual Studio 2015/2017 cache/options directory
.vs/

#files built by Visual Studio
*.sbr
*.obj
*.ilk
*.log
*.ipdb
*.pdb
*.idb
*.opt
*.iobj
*.ipdb
*.tlog

#Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.sdf
*.cachefile
*.VC.db